# Exclude rdvw virtual environment files
rdvw

# Exclude intermediate/temp files
*~

# Exclude Jupyter checkpoints
.ipynb_checkpoints

# Exclude LaTeX intermediates
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz